*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --body: #FAF4F2;
    --gray: #D2D2D2;
    --white: #FFFFFF;
    --orange: #E76F51;
    --black: #3B3735;
    --primary-font: "Roboto R", "Arial", "sans-serif";
    --primary-font-2: "Roboto M", "Arial", "sans-serif";
    --secondary-font: "Archivo B", "Arial", "sans-serif";
}


html {
    font-size: 10px;
}

body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    background-color: var(--body);


}

img {
    width: 100%;
}

svg {
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
}


/* 
=================
    Component
=================
 */

.btn {
    padding: 1.2rem 2.8rem;
    border: 1px solid white;
    border-radius: 4rem;
}

/* 
================= 
*/
.container {
    padding: 0 1rem;
    width: 120rem;
    height: max-content;
    margin: 0 auto;
    position: relative;
}


.header {
    height: 80vh;
    color: var(--gray);
    background-image: linear-gradient(266deg, rgba(59, 55, 53, 0.475) 100%, rgba(59, 55, 53, 1) 0%), url("../Imgs/img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 16rem 15rem;
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;


}

.header__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.logo {
    width: 4.5rem;

}

.logo img {
    width: 100%;

}

.desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.desktop-menu__item {}

.header__right {}

.sign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-family: "Roboto M";
    font-size: 1.5rem;
}

.sing-wrapper__link {
    color: var(--white);


}

.sing-up {}

.sing-in {}


.hamburger-menu {
    width: 5rem;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
    background-color: white;
    border-radius: 1.7rem;
}

.hamburger-menu svg {
    width: 100%;
    height: 5rem;
    padding: 6px;
}

.line {
    fill: none;
    stroke: var(--orange);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.side-menu {
    display: none;
    position: fixed;
    height: 70vh;
    width: 15rem;
    background-color: rgba(255, 255, 255, 0.45);
    left: 2rem;
    top: 0px;
    transform: translateY(-70vh);
    transition: all 180ms ease-in;
    border-radius: 0 0 10rem 10rem;
}

.Top {
    text-align: center;
    padding-top: 12rem;
    color: var(--white);
}

.Top__head {
    font-family: "Archivo B";
    font-size: 4rem;
    max-width: 32rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 0 2rem;

}

.Top__par {
    font-size: 1.2rem;
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    line-height: 1.7rem;
    padding: 0 3rem;
}

.Top__link-wrapper {}

.Top__link {
    width: 16rem;
    margin: 0 auto;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    font-size: 1.4rem;
    font-family: "Roboto M";
}

.main {
    text-align: center;
    margin-top: -9rem;
    overflow: hidden;
    position: relative;


}

.first-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 1.5rem 0 1.5rem;
}

.first-boxes__box {
    border-radius: 1.7rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 27rem;
    height: 22rem;
    padding: 2rem;
    box-shadow: 1px 1px 20px #7c7c7c45;

}

.first-boxes__img {
    margin-bottom: 2rem;
    width: 5.5rem;
    margin-top: -1.5rem;
}

.first-boxes__title {
    font-family: "Archivo B";
    margin-bottom: 1.5rem;
    color: var(--black);
    font-size: 1.5rem;




}

.first-boxes__par {
    line-height: 2.2rem;
    font-size: 1.3rem;
    color: var(--black);
}


.destination {
    text-align: center;
    margin-top: 12rem;
}

.destination__img {
    width: 10rem;


}

.destination__title {
    font-family: "Archivo B";
    font-size: 3.5rem;
    max-width: 48rem;
    margin: 5rem auto;
    color: var(--black);


}

.second-boxes {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1.5rem;


}

.second-boxes__box {
    width: 27rem;
    border-radius: 1.7rem;
    background-color: var(--white);
    padding: 2.5rem;

}

.second-boxes__img-wrapper {
    position: relative;
    margin-bottom: 3rem;


}

.second-boxes__img {
    border-radius: 1.7rem;


}

.second-boxes__price {
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-family: "Roboto M";
    color: var(--orange);
    background-color: var(--white);
    padding: 1.5rem 2.9rem;
    font-size: 1.3rem;
    border-radius: 1.4rem;
}

/* -----------heart----------- */
.con-like {
    position: absolute;
    width: 29px;
    top: -5px;
    right: 6px;
    height: 50px;
}

input.like {
    top: 10px;
    position: absolute;
    width: 100%;
    height: 48%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
    left: -3px;

}

.con-like .like {
    position: absolute;
    width: 100%;
    height: 48%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-like .outline,
.con-like .filled {
    fill: var(--orange);
    position: absolute;
}

.con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
}

.con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
}

.con-like .poly {
    stroke: var(--orange);
    fill: var(--orange);
}

.con-like .like:checked~.checkmark .filled {
    display: block
}

.con-like .like:checked~.checkmark .celebrate {
    display: block
}

@keyframes kfr-filled {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes kfr-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
        display: none;
    }
}

/* ------------------------- */

.second-boxes__title {
    font-family: "Archivo B";
    color: var(--black);
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.second-boxes__par {
    color: var(--black);
    line-height: 2.2rem;
    margin-bottom: 1.7rem;
    font-size: 1.3rem;
}

.second-boxes__link {
    font-family: "Roboto M";
    color: #8D8D8D;
    background-color: #80808014;
    width: 15rem;
    font-size: 1.4rem;
    margin: 0 auto;
}

.view-all-link {
    width: 16rem;
    margin: 5rem auto;
    background-color: transparent;
    border: 1px solid var(--orange);
    color: var(--orange);
    font-size: 1.4rem;
    font-family: "Roboto M";
    margin-bottom: 12rem;
}

.touch-section {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    padding: 0px 5rem;
    background-color: #F8E1DB;
    border-radius: 2rem;
    margin-bottom: 9rem;
    color: var(--black);
    margin: 0 1.5rem 4rem 1.5rem;
    position: relative;
    z-index: -1;
    overflow: hidden;


}

.touch-section__left {
    text-align: left;
    width: 50%;


}

.touch-section__title {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: "Archivo B";


}

.touch-section__par {
    margin-bottom: 3rem;
    font-family: "Roboto M";
    line-height: 2.5rem;
    max-width: 42rem;
    font-size: 1.3rem;


}

.touch-section__input-wrapper {
    position: relative;
    height: 6rem;
    max-width: 49rem;


}

.touch-section__input {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: white;
    font-family: "Roboto R";
    box-shadow: 1px 1px 8px #b4b4b436;
    padding-right: 5rem;


}

.touch-section__email {
    width: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;


}

.touch-section__send {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    display: block;
    background-color: var(--orange);
    padding: 9px;
    border-radius: 15px;


}

.touch-section__right {
    width: 50%;


}

.touch-section__img {
    width: 100%;
    padding: 2rem;
    max-width: 40rem;
}

.footer {
    background-color: #F8E1DB;
    border-radius: 15rem 15rem 0 0;
}

.descriptions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--black);
    padding: 9rem 5rem 3rem 5rem;
}

.description-wrapper {}

.long-description {}

.description-wrapper__title {
    font-family: "Archivo B";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;


}

.description-wrapper__par {
    font-family: 'Roboto R';
    line-height: 2.5rem;
    font-size: 1.3rem;
    max-width: 48rem;


}

.description-wrapper__list {
    font-size: 1.3rem;


}

.descriptio-wrapper__item {
    font-family: 'Roboto R';
    line-height: 2.5rem;


}

.badge-wrapper {
    padding: 2rem 5rem 3rem 5rem;
    text-align: center;


}

.appstore-badge {
    width: 12rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.googleplay-badge {
    width: 12rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.get-to-know {}

.plan-with-us {}

.let-us-help {}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
}

.bottom-text {
    margin-bottom: 2rem;
    font-family: 'Archivo B';
}

.copy-right {
    text-align: center;
    color: var(--black);
    font-size: 1.3rem;
    padding-bottom: 3rem;
}

.shape1 {
    position: absolute;
    width: 80rem;
    z-index: -2;
    top: 8rem;
    right: -20rem;
}
.shape2 {
    position: absolute;
    width: 80rem;
    z-index: -2;
    top: 66rem;
    left: -20rem;
}
.shape3 {
    position: absolute;
    width: 137rem;
    z-index: -2;
    left: -13rem;
}