*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --body: #FAF4F2;
    --gray: #D2D2D2;
    --white: #FFFFFF;
    --orange: #E76F51;
    --black: #3B3735;
    --primary-font: "Roboto R", "Arial", "sans-serif";
    --primary-font-2: "Roboto M", "Arial", "sans-serif";
    --secondary-font: "Archivo B", "Arial", "sans-serif";
}


html {
    font-size: 10px;
}

body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    background-color: var(--body);

}
svg {
    width: 100%;
}
a {
    display: block;
    text-decoration: none;
}


/* 
=================
    Component
=================
 */

.btn {
    padding: 1.2rem 2.8rem;
    border: 1px solid white;
    border-radius: 4rem;
}

/* 
================= 
*/
.container {
    padding: 0 1rem;
    width: 120rem;
    height: max-content;
    margin: 0 auto;
}


.header {
    height: 80vh;
    color: var(--gray);
    background-image: linear-gradient(266deg, rgba(59, 55, 53, 0.475) 100%, rgba(59, 55, 53, 1) 0%), url(../Imgs/img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 10rem 10rem;
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;


}

.header__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.logo {
    width: 4.5rem;

}

.logo img {
    width: 100%;

}

.desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.desktop-menu__item {}

.header__right {}

.sign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-family: "Roboto M";
    font-size: 1.5rem;
}

.sing-wrapper__link {
    color: var(--white);


}

.sing-up {}

.sing-in {}


.hamburger-menu {
    width: 5rem;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
    background-color: white;
    border-radius: 1.7rem;
}

.hamburger-menu svg {
    width: 100%;
    height: 5rem;
    padding: 6px;
}

.line {
    fill: none;
    stroke: var(--orange);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.side-menu {
    display: none;
    position: fixed;
    height: 70vh;
    width: 15rem;
    background-color: rgba(255, 255, 255, 0.45);
    left: 2rem;
    top: 0px;
    transform: translateY(-70vh);
    transition: all 180ms ease-in;
    border-radius: 0 0 10rem 10rem;
}

.Top {
    text-align: center;
    padding-top: 12rem;
    color: var(--white);
}

.Top__head {
    font-family: "Archivo B";
    font-size: 4rem;
    max-width: 32rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 0 2rem;

}

.Top__par {
    font-size: 1.2rem;
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    line-height: 1.7rem;
    padding: 0 3rem;
}

.Top__link-wrapper {}

.Top__link {
    width: 13rem;
    margin: 0 auto;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    font-size: 1.4rem;
    font-family: "Roboto M";
}

.main {
    text-align: center;



}

.first-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: -9rem 1.5rem 0 1.5rem;
}

.first-boxes__box {
    border-radius: 1.7rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 27rem;
    height: 22rem;
    padding: 2rem;
    box-shadow: 1px 1px 20px #7c7c7c45;

}

.first-boxes__img {
    margin-bottom: 2rem;
    width: 5.5rem;
    margin-top: -1.5rem;
}

.first-boxes__title {
    font-family: "Archivo B";
    margin-bottom: 1.5rem;
    color: var(--black);
    font-size: 1.5rem;




}

.first-boxes__par {
    line-height: 2.2rem;
    font-size: 1.3rem;
    color: var(--black);
}


.destination {
    text-align: center;
    margin-top: 12rem;
}
.destination__img {


}
.destination__title {
    font-family: "Archivo B";
    font-size: 3.5rem;
    max-width: 48rem;
    margin: 5rem auto;
    color: var(--black);


}