/* 
====================
     Responsive
====================
*/
@media (max-width: 1200px) {
    .container {
        width: 94rem;
    }

    .hamburger-menu {
        display: none;
    }

    .descriptions {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        text-align: left;
    }

    .wrapper {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .descriptions {
        padding: 9rem 1rem 3rem 1rem;
    }

}

@media (max-width: 992px) {
    .container {
        width: 73rem;
    }

    .header__right {
        display: none;
    }

    .header__left {
        gap: 7rem;
    }

    .touch-section {
        gap: 0rem;
    }

    .touch-section__title {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .touch-section__par {
        font-size: 1.2rem;
    }

    .touch-section__input-wrapper {
        margin-bottom: 2rem;
        max-width: 23rem;
    }

    .shape2 {
        top: 114rem;

    }

}

@media (max-width: 768px) {
    .container {
        width: 53rem;
    }

    .desktop-menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .side-menu {
        display: block;
    }

    .logo {
        width: 5rem;
    }

    .header__left {
        gap: 4rem;
    }

    .first-boxes__box {
        width: 48rem;

    }

    .second-boxes__box {
        width: 48rem;
    }

    .touch-section {
        flex-direction: column;
    }

    .touch-section__right {
        width: 100%;
        order: 1;
        margin-bottom: 4rem;
        margin-bottom: 2rem;
    }

    .touch-section__left {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .touch-section__title {
        max-width: 23rem;
        font-size: 3rem;
        margin: 0 auto 3rem auto;
    }

    .touch-section__par {
        font-size: 1.4rem;
        max-width: 28rem;
        margin: 0 auto 3rem auto;
    }

    .touch-section__input-wrapper {
        margin: 0 auto 3rem auto;
        max-width: 32rem;
    }

    .second-boxes__img-wrapper {
        max-width: 32rem;
        margin: 0 auto 3rem auto;
    }

    .shape3 {
        width: 173rem;
        left: -64rem;
        top: 24rem;
    }

    .shape2 {
        top: 129rem;
    }


}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }

    .header-wrapper {
        padding: 3rem 2rem 0rem 2rem;
    }

    .Top__par {
        max-width: 29rem;
    }

    .destination__title {
        font-size: 2.7rem;
        max-width: 45rem;
    }

    .header {
        border-radius: 0 0 10rem 10rem;
    }

    .footer {
        border-radius: 10rem 10rem 0 0;
    }

    .copy-right {
        font-size: 1.1rem;
    }

    .descriptions {
        padding: 9rem 4rem 3rem 4rem;
    }

    .arrow-top-wrapper {
        right: 50%;
        transform: translateX(+50%);
    }

}

@media (max-width: 490px) {
    .touch-section__img {
        padding: 0;
        margin-top: 1.5rem;
    }

    .touch-section {
        padding: 0px 2rem;
    }
}