@media (max-width: 1200px) {
    .container {
        width: 94rem;
    }
    .hamburger-menu {
        display: none;
    }
    
}

@media (max-width: 992px) {
    .container {
        width: 73rem;
    }

    .header__right {
        display: none;
    }
    .header__left {
        gap: 7rem;
    }

}

@media (max-width: 768px) {
    .container {
        width: 53rem;
    }
    .desktop-menu {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .side-menu {
        display: block;
    }
    .logo {
        width: 5rem;
    }
    .header__left {
        gap: 4rem;
    }
    .first-boxes__box {
        width: 48rem;

    }


}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .header-wrapper {
        padding: 3rem 2rem 0rem 2rem;
    }
    .Top__par {
        max-width: 29rem;
    }

}
